In [8]:
import pandas as pd
from wildlife_datasets.datasets import Cows2021v2, LeopardID2022, HyenaID2022, SeaTurtleID2022


df = LeopardID2022('/home/wellvw12/leopard')
# df = HyenaID2022('/home/wellvw12/hyenaid2022')
df = df.df
cnt1 = 0
cnt2 = 0
d = df['identity'].value_counts()
for i,l in d.items():
    # print(i,l)
    if l < 8:
        cnt1+=l
        continue
    cnt2+=l
print(cnt1,cnt2)

943 5882

In [3]:
import pandas as pd
df = pd.read_csv('/home/wellvw12/fedReID/model/lep4noniid/client_5/local_result.csv')
df

             timestamp   dataset   rank1   rank5  mAP
0  2025-07-11 09:34:15  client_5  0.2903  0.3595  NaN
1  2025-07-11 09:59:06  client_5  0.3548  0.4169  NaN

In [4]:
[w for w in range(1,6)]

[1, 2, 3, 4, 5]

In [ ]:
orientation
left     2283
right    2219
back     1043
front     902
down      200